* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  color: #333;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  padding: 1em 3em;
  margin-bottom: 100px;
}

header h1 {
  font-size: 2rem;
}

.add-book {
  font-size: 1.2rem;
  background-color: white;
  border: none;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 10px;
  border-radius: 5px;
}

.add-icon {
  font-size: 35px;
  border-radius: 50%;
  padding: 1px;
}

.add-book,
.add-icon {
  color: rgb(1, 172, 1);
  font-weight: 900;
}

.add-book:hover,
.add-icon:hover {
  background-color: rgba(0, 128, 0, 0.082);
}

/* main */

main {
  padding: 0px 50px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  width: 1100px;
  margin: 0 auto;
}

.card {
  padding: 25px;
  background-color: rgba(177, 177, 177, 0.11);
  height: 200px;
  position: relative;
  border-radius: 20px;
}

.title {
  font-size: 30px;
  margin-bottom: 16px;
}

.author {
  font-size: 18px;
  color: #333;
}

.card-bottom {
  position: absolute;
  bottom: 20px;
  display: flex;
  gap: 70px;
}

.pages {
  color: rgba(80, 80, 80, 0.452);
  font-weight: 600;
}

.bottom-btns {
  display: flex;
  gap: 20px;
}

.read {
  background-color: rgba(0, 206, 0, 0.541);
  font-size: 16px;
}

.delete-book {
  font-size: 16px;
  background-color: rgba(253, 4, 4, 0.671);
}

.read,
.delete-book {
  padding: 3px 5px;
}
